///////////////////////////////////////////////////////
//                     xibbit 1.50                   //
//    This source code is a trade secret owned by    //
// Daniel W. Howard and Sanjana A. Joshi Partnership //
//              Do not remove this notice            //
///////////////////////////////////////////////////////
<site-layout>
  <@title>
    Sign In
  </@title>
  <@content>
    <section>
      <signin-form />
    </section>
  </@content>
</site-layout>
